<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407432915878-c8ucrgsku3239u2k72tieb7al9lbure6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407432915878-c8ucrgsku3239u2k72tieb7al9lbure6</string>
	<key>API_KEY</key>
	<string>AIzaSyDAfOXVNhXpJ4_HrjmoU4fMyWbNWDn6CME</string>
	<key>GCM_SENDER_ID</key>
	<string>407432915878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.popcornV2</string>
	<key>PROJECT_ID</key>
	<string>popcorn-a67e4</string>
	<key>STORAGE_BUCKET</key>
	<string>popcorn-a67e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407432915878:ios:c7e34b07cfc57a15a97d67</string>
</dict>
</plist>